#app {
  .el-dialog__body {
    .searchBox{
       .radio-label{
         padding: 0;
         line-height: 30px;
       }
    }
    .el-input .el-input__inner{
       width: 100%;
       text-align: left;
    }
    .disActive{
      .el-input__inner{
         background: transparent;
         cursor :pointer;
         color: #333;
      }
    }

    .el-input.is-disabled .el-input__inner{
        color: #333;
    }
    padding: 20px;
    .el-upload__tip {
      margin-top: 10px;
    }
    .demo-ruleForm {
      .bigUpBox {
        display: flex;
        justify-content: space-between;
        .boxLeft,
        .boxRight {
          width: 46%;
          .el-date-editor.el-input {
            width: 100%;
          }
        }
        .el-form-item__label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .bigDownBox {
        width: 100%;
      }
    }
    .el-select {
      width: 100%;
    }
  }
  .el-menu{
     .el-submenu__title i{
       color: #FFFFFF;
     }
  }
}
.app-container {
  .search {
    border: 1px solid #dfe6ec;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    label {
      font-weight: 500;
      font-size: 15px;
    }
    .radio-label {
      line-height: 30px;
      padding: 0;
    }
    .el-col-8,
    .el-col-12 {
      text-align: center;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .el-col-3,
    .el-col-4,
    .el-col-5{
      line-height: 30px;
      text-align: center;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .btnSearchUP {
      padding: 5px;
      transform: rotate(270deg);
      -ms-transform: rotate(270deg); /* IE 9 */
      -moz-transform: rotate(270deg); /* Firefox */
      -webkit-transform: rotate(270deg); /* Safari 和 Chrome */
      -o-transform: rotate(270deg); /* Opera */
      background-color: #ffffff;
      color: #1890ff;
    }
    .btnSearchDown {
      padding: 5px;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg); /* IE 9 */
      -moz-transform: rotate(90deg); /* Firefox */
      -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
      -o-transform: rotate(90deg); /* Opera */
      background-color: #ffffff;
      color: #1890ff;
    }
  }
  .el-dialog {
    border-radius: 5px;
    .el-dialog__header {
      border-bottom: 1px solid #46a6ff;
    }
  }

  .rightBtn {
    margin: 10px 0 10px 0;
    .handleImport {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .permission-tree {
    margin-bottom: 30px;
  }

  .el-button--info {
    background-color: #a744bf;
    border-color: #a744bf;
  }

  .el-table th {
    padding: 5px 0;
  }
  .el-table .caret-wrapper {
    height: 20px;
  }
  .el-table .sort-caret.ascending {
    top: -1px;
    border-bottom-color: #ffffff;
  }
  .el-table .sort-caret.descending {
    bottom: -1px;
    border-top-color: #ffffff;
  }
}
.el-button--mini,
.el-button--small {
  padding: 5px 6px;
}
.el-table--mini th {
  padding: 3px 0;
}
.el-table--mini td {
  padding: 5px 0;
}

body {
  overflow: hidden;
}
body .popoverBackB {
  background-color: #000000;
  border: 1px solid #000000;
}
body .popoverBackB[x-placement^='top'] .popper__arrow::after {
  border-top-color: #000000;
}
