.app-container {
  .search {
    border: 1px solid #dfe6ec;
    padding: 20px 0;
    border-radius: 5px;

    label {
      font-weight: 500;
    }

    .el-col-8 {
      text-align: right;
      line-height: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .center {
      text-align: center;
      margin-top: 20px;
    }
  }

  .rightBtn {
    text-align: right;
    margin: 20px 0 5px 0;
    .handleImport {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .permission-tree {
    margin-bottom: 30px;
  }

  .el-button--info {
    background-color: #a744bf;
    border-color: #a744bf;
  }

  /* .el-table ::v-deep .el-table__body-wrapper {
    overflow: scroll;
  } */
}
