.app-container {
  .search {
    border: 1px solid #dfe6ec;
    padding: 20px 0;
    border-radius: 5px;

    label {
      font-weight: 500;
    }

    .el-col-8,
    .el-col-12 {
      text-align: right;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .el-col-4{
      line-height: 30px;
      text-align: center;
    }

    .center {
      text-align: center;
      margin-top: 20px;
    }
  }

  .rightBtn {
    margin: 10px 0 10px 0;
    .handleImport {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .permission-tree {
    margin-bottom: 30px;
  }

  .el-button--info {
    background-color: #a744bf;
    border-color: #a744bf;
  }

  /* .el-table ::v-deep .el-table__body-wrapper {
    overflow: scroll;
  } */
}
.el-button--mini,
.el-button--small{
  padding: 5px 6px;
}
.el-table--mini th{
  padding: 3px 0;
}
.el-table--mini td{
  padding: 5px 0;
}

body{
  overflow: hidden;
}
