.el-table__body-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color:  #1890ff ;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color:  #1890ff ;
  border-radius: 5px;
}
